html{
    scroll-behavior: smooth;
}
nav{
    position: fixed; 
    top: 0;
    left: 0;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1000;
}
.searchBar{
    position: fixed;
    margin-top: 50px;
    width: 85vh ;
    height: 40px;
    margin-left: 70vh;
    background-color: white;
    border-radius: 12px;
    border-color: white ;
}
.searchBar input{
    width: 76vh;
    height: 5vh;
    padding: 8px;
    border: none;
    margin-top: 2px;
    display: flex;
    outline: none;
    border: none;
    border-radius: 12px;
}
.searchBar button{
    z-index: 1;
    margin-left: 78vh;
    position: relative; top: -27px;
    background-color: transparent;
    outline: none;
    border: none;
}
.search{
    width: 3vh;
    height: 3vh;
    margin-top: -3px;
    margin-left: 8px;
}
body{
    background-color: black;
}
.page_name{
    color: white;
    font-family: inherit;
    width: fit-content;
    margin-top: 20px;
    display: flex;
}
.page_name img{
    width: 50px;
    height:40px;
    margin-top: -18px;
    margin-right: 0px;
}
#logo{
    border-radius: 10px;
}
.multiple_div{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 20px;  
    margin-left: 10%;
}
nav #product_1:hover{
    font-size: 20px;
}
nav #team_1:hover{
    font-size: 20px;
}
nav #resource_1:hover{
    font-size: 20px;
}
nav #community_1:hover{
    font-size: 20px;
}
nav #help_1:hover{
    font-size: 20px;
}
nav #about_1:hover{
    font-size: 20px;
}
.multiple_div #product_1{
    text-decoration: none;
    color: white;
    font-family: inherit;
    width: fit-content;
}
.multiple_div #team_1{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.multiple_div #resource_1{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.multiple_div #community_1{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.multiple_div #help_1{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.multiple_div #about_1{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.login{
    margin-top: 20px;
    width: fit-content;
    margin-left: 60px;
}
.login #login_1:hover{

    background-color: white;
    color: black;
}
.login #singup_1:hover{
    background-color: white;
    color: black;
}
.login #login_1{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.login #singup_1{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
   
}
#brand-img{
    width: 80vh;
    margin-top: 70px;
    margin-left: 65vh;
    z-index: -1;
}
.hedding1{
    position: relative;
    margin-left: 340px;
    margin-top: 60px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.haard{
    color: darkgray;
    margin-left: 30px;
}
.haard .Maincode{
    scroll-margin-top: 160px;
    margin : 15px 0;
}
.hide{
    display: none;
}
.socialM{
    color: white;
    width: 2vh;
    height: 2vh;
}
.footer_div{
    display: flex;
    gap: 10vh;
    margin-bottom: 4px;
}
