.big_1div{
    display: flex;
    gap: calc(5vh);
    margin-left: 33vh;
    margin-top: 5vh;
}
.tutorial{
    background-color: rgba(105, 38, 93, 0.644);
    width: 70vh;
    height: 25vh;
    border:1px solid rgba(0, 0, 0, 0.06);
    border-radius: 25px;
}
.buttonAll{
    height: 5vh;
    width: 25vh;
    margin-left: 22vh;
    margin-bottom: 20px;
    border:1px solid rgba(0, 0, 0, 0);
    border-radius: 10vh;
    background-color:skyblue;
}
h1{
    text-align: center;
    color: white;
    margin-top: 5vh;
}
a{
    text-decoration: none;
    color: black;
}
