body{
    background-image: url("loginImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#div1{
    border-radius: 10px;
    height: 500px;
    width: 400px;
    margin-left: 900px;
    margin-top: 5%;
   
    background-color: rgb(15, 15, 39);
}
#submit_{
    text-align: center;
    margin-left: 85px;
    width: 20vh;
    background-color: rgba(25, 25, 66, 0.788);
    color:rgb(240, 215, 183) ;
}
h1{
    font-size :60px ;
    margin-left: 17vh;
    color: rgb(240, 215, 183);
}

form{
    padding-left: 50px;
}
input{
    width: 40vh;
    height: 5vh;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    background-color: rgba(127, 255, 212, 0.43);
    text-indent: 10px ;
}
input::placeholder{
    color: rgba(6, 7, 17, 0.858);
}
h4{
    color:rgb(240, 215, 183) ;
   
}
#forget_00{
    margin-left: 15vh;
    color: gray;
    text-decoration: none;
    transition: transform 0.5 ease;
}
#forget_00:hover{
    color: white;
}


